node-red/flows_final.json
[
    {
        "id": "76b56d7997f2bd69",
        "type": "tab",
        "label": "SmokeGuard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "942a78551326aa43",
        "type": "function",
        "z": "76b56d7997f2bd69",
        "name": "Distribuidor de 3 vias",
        "func": "// Isola cada variável do pacote JSON\nlet msgTemp = { payload: msg.payload.temperatura };\nlet msgUmid = { payload: msg.payload.umidade };\nlet msgCO2 = { payload: msg.payload.co2 };\n\n// Envia cada uma para um pino de saída (Pino 1, Pino 2, Pino 3)\nreturn [msgTemp, msgUmid, msgCO2];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 240,
        "wires": [
            [
                "cc450c6f8454c532",
                "2b3274064d7c4bde"
            ],
            [
                "2505a866c6b8bee9",
                "a5c64d230c9cb484"
            ],
            [
                "1d7d883c26fc15f9",
                "064d167c130d2c19"
            ]
        ]
    },
    {
        "id": "cc450c6f8454c532",
        "type": "ui_gauge",
        "z": "76b56d7997f2bd69",
        "name": "Temperatura",
        "group": "a780661b4c189c74",
        "order": 0,
        "width": "10",
        "height": "6",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00bfff",
            "#1eff00",
            "#ff0000"
        ],
        "seg1": "20",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 140,
        "wires": []
    },
    {
        "id": "2505a866c6b8bee9",
        "type": "ui_gauge",
        "z": "76b56d7997f2bd69",
        "name": "Umidade",
        "group": "4562042ab14c8c55",
        "order": 0,
        "width": "10",
        "height": "6",
        "gtype": "gage",
        "title": "Umidade",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff5900",
            "#04ff00",
            "#1100ff"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 220,
        "wires": []
    },
    {
        "id": "1d7d883c26fc15f9",
        "type": "ui_gauge",
        "z": "76b56d7997f2bd69",
        "name": "Fumaça",
        "group": "e56778fec3a6b936",
        "order": 0,
        "width": "10",
        "height": "6",
        "gtype": "gage",
        "title": "Fumaça",
        "label": "ppm",
        "format": "{{value}}",
        "min": "250",
        "max": "1000",
        "colors": [
            "#00ff00",
            "#626b61",
            "#000000"
        ],
        "seg1": "400",
        "seg2": "700",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 300,
        "wires": []
    },
    {
        "id": "a5c64d230c9cb484",
        "type": "ui_chart",
        "z": "76b56d7997f2bd69",
        "name": "Umidade",
        "group": "a80fa7bca37daeb0",
        "order": 1,
        "width": "24",
        "height": "8",
        "label": "Umidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "28800",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#001eff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "064d167c130d2c19",
        "type": "ui_chart",
        "z": "76b56d7997f2bd69",
        "name": "Fumaça",
        "group": "6b745fab18848bb3",
        "order": 1,
        "width": "24",
        "height": "8",
        "label": "Fumaça",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "2000",
        "removeOlder": "1",
        "removeOlderPoints": "28800",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#000000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "d2809aff29531147",
        "type": "function",
        "z": "76b56d7997f2bd69",
        "name": "Formatar SQL",
        "func": "// ============================================================\n// VALIDAÇÃO E INSERÇÃO SEGURA NO MYSQL\n// ============================================================\n\n// Confirma que o payload recebido é um objeto JSON\nif (\n    msg.payload === null ||\n    typeof msg.payload !== \"object\" ||\n    Array.isArray(msg.payload)\n) {\n    node.status({\n        fill: \"red\",\n        shape: \"ring\",\n        text: \"Payload inválido\"\n    });\n\n    node.warn(\"Payload recebido não é um objeto JSON.\");\n    return null;\n}\n\n// Converte os valores recebidos para número\nconst temperatura = Number(msg.payload.temperatura);\nconst umidade = Number(msg.payload.umidade);\nconst co2 = Number(msg.payload.co2);\n\n// Verifica se os três campos existem e são numéricos\nif (\n    !Number.isFinite(temperatura) ||\n    !Number.isFinite(umidade) ||\n    !Number.isFinite(co2)\n) {\n    node.status({\n        fill: \"red\",\n        shape: \"ring\",\n        text: \"Campos inválidos\"\n    });\n\n    node.warn({\n        erro: \"Temperatura, umidade ou MQ-2 inválido\",\n        payloadRecebido: msg.payload\n    });\n\n    return null;\n}\n\n// Validação das faixas físicas esperadas\nif (temperatura < -40 || temperatura > 80) {\n    node.warn(\"Temperatura fora da faixa válida: \" + temperatura);\n    return null;\n}\n\nif (umidade < 0 || umidade > 100) {\n    node.warn(\"Umidade fora da faixa válida: \" + umidade);\n    return null;\n}\n\n// Leitura ADC do ESP32: 0 a 4095\nif (co2 < 0 || co2 > 4095) {\n    node.warn(\"Leitura do MQ-2 fora da faixa ADC: \" + co2);\n    return null;\n}\n\n// Consulta parametrizada.\n// O campo data_hora será preenchido automaticamente pelo MySQL.\nmsg.topic = `\n    INSERT INTO leituras\n        (temperatura, umidade, co2)\n    VALUES (?, ?, ?)\n`;\n\n// Valores associados aos parâmetros da consulta\nmsg.payload = [\n    temperatura,\n    umidade,\n    co2\n];\n\nnode.status({\n    fill: \"green\",\n    shape: \"dot\",\n    text: \"Dados válidos\"\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "b78295bcaefeea75",
        "type": "mysql",
        "z": "76b56d7997f2bd69",
        "mydb": "2b2c728ba2bbe499",
        "name": "Banco de Dados",
        "x": 690,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "838a180baed7e222",
        "type": "function",
        "z": "76b56d7997f2bd69",
        "name": "Formatar Gráfico",
        "func": "// ============================================================\n// CONTROLE DOS GRUPOS E INICIALIZAÇÃO DO DROPDOWN\n//\n// Saída 1: comando destinado ao ui_control\n// Saída 2: valor utilizado para redefinir o Dropdown\n// ============================================================\n\n// Identificadores utilizados pelo ui_control\nconst gTemp = \"Graficos_Atuais_Temperatura\";\nconst gUmid = \"Graficos_Atuais_Umidade\";\nconst gFumaca = \"Graficos_Atuais_Fumaça\";\n\n// Opção recebida do Dropdown ou evento recebido do ui_control\nconst escolha = String(msg.payload ?? \"\");\n\n// Comando padrão de visibilidade\nconst comando = {\n    group: {\n        hide: [],\n        show: []\n    }\n};\n\n// Por padrão, não envia nada para o Dropdown\nlet msgDropdown = null;\n\n// ------------------------------------------------------------\n// NOVA CONEXÃO COM O DASHBOARD\n// ------------------------------------------------------------\nif (escolha === \"connect\") {\n\n    // Inicialmente oculta todos os gráficos\n    comando.group.hide = [\n        gTemp,\n        gUmid,\n        gFumaca\n    ];\n\n    // Redefine visualmente o Dropdown para a primeira opção\n    msgDropdown = {\n        payload: \"Nenhum\"\n    };\n\n    // Mantém o identificador da sessão do navegador\n    if (msg.socketid) {\n        msgDropdown.socketid = msg.socketid;\n    }\n}\n\n// ------------------------------------------------------------\n// NENHUM GRÁFICO\n// ------------------------------------------------------------\nelse if (escolha === \"Nenhum\") {\n\n    comando.group.hide = [\n        gTemp,\n        gUmid,\n        gFumaca\n    ];\n}\n\n// ------------------------------------------------------------\n// SOMENTE TEMPERATURA\n// ------------------------------------------------------------\nelse if (escolha === \"Temp\") {\n\n    comando.group.show = [gTemp];\n\n    comando.group.hide = [\n        gUmid,\n        gFumaca\n    ];\n}\n\n// ------------------------------------------------------------\n// SOMENTE UMIDADE\n// ------------------------------------------------------------\nelse if (escolha === \"Umid\") {\n\n    comando.group.show = [gUmid];\n\n    comando.group.hide = [\n        gTemp,\n        gFumaca\n    ];\n}\n\n// ------------------------------------------------------------\n// SOMENTE FUMAÇA\n// ------------------------------------------------------------\nelse if (escolha === \"CO2\") {\n\n    comando.group.show = [gFumaca];\n\n    comando.group.hide = [\n        gTemp,\n        gUmid\n    ];\n}\n\n// ------------------------------------------------------------\n// TODOS OS GRÁFICOS\n// ------------------------------------------------------------\nelse if (escolha === \"Todos\") {\n\n    comando.group.show = [\n        gTemp,\n        gUmid,\n        gFumaca\n    ];\n\n    comando.group.hide = [];\n}\n\n// Ignora valores inesperados\nelse {\n    node.warn(\"Opção não reconhecida: \" + escolha);\n    return [null, null];\n}\n\n// Cria a mensagem destinada ao ui_control\nconst msgControle = {\n    ...msg,\n    payload: comando\n};\n\n// Envia:\n// Saída 1 → ui_control\n// Saída 2 → Dropdown, somente durante a conexão\nreturn [msgControle, msgDropdown];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 540,
        "wires": [
            [
                "de8c3f4f9ac9e4c6"
            ],
            [
                "96d0392fd916c671"
            ]
        ]
    },
    {
        "id": "de8c3f4f9ac9e4c6",
        "type": "ui_ui_control",
        "z": "76b56d7997f2bd69",
        "name": "",
        "events": "connect",
        "x": 640,
        "y": 600,
        "wires": [
            [
                "838a180baed7e222"
            ]
        ]
    },
    {
        "id": "96d0392fd916c671",
        "type": "ui_dropdown",
        "z": "76b56d7997f2bd69",
        "name": "Escolher Gráfico",
        "label": "Selecione o gráfico:",
        "tooltip": "",
        "place": "Select option",
        "group": "66b60e9b5ab394e0",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Selecione um gráfico...",
                "value": "Nenhum",
                "type": "str"
            },
            {
                "label": "Temperatura",
                "value": "Temp",
                "type": "str"
            },
            {
                "label": "Umidade",
                "value": "Umid",
                "type": "str"
            },
            {
                "label": "Fumaça",
                "value": "CO2",
                "type": "str"
            },
            {
                "label": "Mostrar Todos",
                "value": "Todos",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "838a180baed7e222"
            ]
        ]
    },
    {
        "id": "2b3274064d7c4bde",
        "type": "ui_chart",
        "z": "76b56d7997f2bd69",
        "name": "Temperatura",
        "group": "c0748d6957d60185",
        "order": 1,
        "width": "24",
        "height": "8",
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "28800",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "87a4de015114b35f",
        "type": "ui_template",
        "z": "76b56d7997f2bd69",
        "group": "dd2b47cd8f58c265",
        "name": "Filtro Histórico",
        "order": 0,
        "width": "27",
        "height": "2",
        "format": "<div style=\"display:flex; flex-wrap:wrap; gap:16px; align-items:end;\">\n\n    <div style=\"display:flex; flex-direction:column; min-width:210px;\">\n        <label for=\"histInicio\">Data e hora inicial</label>\n        <input\n            id=\"histInicio\"\n            type=\"datetime-local\"\n            style=\"padding:8px; border:1px solid #ccc; border-radius:4px;\">\n    </div>\n\n    <div style=\"display:flex; flex-direction:column; min-width:210px;\">\n        <label for=\"histFim\">Data e hora final</label>\n        <input\n            id=\"histFim\"\n            type=\"datetime-local\"\n            style=\"padding:8px; border:1px solid #ccc; border-radius:4px;\">\n    </div>\n\n    <div style=\"display:flex; flex-direction:column; min-width:180px;\">\n        <label for=\"histVariavel\">Variável</label>\n\n        <select\n            id=\"histVariavel\"\n            style=\"padding:8px; border:1px solid #ccc; border-radius:4px;\">\n\n            <option value=\"\">Selecionar variável...</option>\n            <option value=\"temperatura\">Temperatura</option>\n            <option value=\"umidade\">Umidade</option>\n            <option value=\"co2\">Fumaça</option>\n        </select>\n    </div>\n\n    <button\n        ng-click=\"pesquisarHistorico()\"\n        style=\"\n            padding:9px 20px;\n            border:none;\n            border-radius:4px;\n            cursor:pointer;\n        \">\n        Pesquisar\n    </button>\n\n</div>\n\n<script>\n    (function(scope) {\n\n    function formatarDataLocal(data) {\n        const ano = data.getFullYear();\n        const mes = String(data.getMonth() + 1).padStart(2, \"0\");\n        const dia = String(data.getDate()).padStart(2, \"0\");\n        const hora = String(data.getHours()).padStart(2, \"0\");\n        const minuto = String(data.getMinutes()).padStart(2, \"0\");\n\n        return `${ano}-${mes}-${dia}T${hora}:${minuto}`;\n    }\n\n    setTimeout(function() {\n        const fim = new Date();\n        const inicio = new Date(fim.getTime() - 60 * 60 * 1000);\n\n        document.getElementById(\"histInicio\").value =\n            formatarDataLocal(inicio);\n\n        document.getElementById(\"histFim\").value =\n            formatarDataLocal(fim);\n\n        document.getElementById(\"histVariavel\").value = \"\";\n    }, 300);\n\n    scope.pesquisarHistorico = function() {\n\n        const inicio =\n            document.getElementById(\"histInicio\").value;\n\n        const fim =\n            document.getElementById(\"histFim\").value;\n\n        const variavel =\n            document.getElementById(\"histVariavel\").value;\n\n        scope.send({\n            payload: {\n                inicio: inicio,\n                fim: fim,\n                variavel: variavel\n            }\n        });\n    };\n\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 160,
        "y": 680,
        "wires": [
            [
                "53632a3b6aa9e039",
                "f6ecd03c7fc30f66",
                "cc18cbd9328a27e8"
            ]
        ]
    },
    {
        "id": "53632a3b6aa9e039",
        "type": "function",
        "z": "76b56d7997f2bd69",
        "name": "Consultar Histórico",
        "func": "// ============================================================\n// CONSULTA HISTÓRICA COM AGRUPAMENTO COMPATÍVEL COM\n// ONLY_FULL_GROUP_BY\n//\n// Os horários recebidos pelo Dashboard e armazenados no MySQL\n// são tratados diretamente no horário local de São Paulo.\n// ============================================================\n\nconst dados = msg.payload;\n\n// ------------------------------------------------------------\n// VALIDAÇÃO DA MENSAGEM\n// ------------------------------------------------------------\n\nif (\n    dados === null ||\n    typeof dados !== \"object\" ||\n    Array.isArray(dados)\n) {\n    node.status({\n        fill: \"red\",\n        shape: \"ring\",\n        text: \"Filtro inválido\"\n    });\n\n    return null;\n}\n\nconst inicioInformado = dados.inicio;\nconst fimInformado = dados.fim;\nconst variavelInformada = dados.variavel;\n\nif (!inicioInformado || !fimInformado) {\n    node.status({\n        fill: \"yellow\",\n        shape: \"ring\",\n        text: \"Informe o período\"\n    });\n\n    return null;\n}\n\n// ------------------------------------------------------------\n// LISTA BRANCA DE VARIÁVEIS\n// ------------------------------------------------------------\n\nconst variaveis = {\n    temperatura: {\n        expressao: \"temperatura\",\n        titulo: \"Temperatura\",\n        unidade: \"°C\"\n    },\n\n    umidade: {\n        expressao: \"umidade\",\n        titulo: \"Umidade\",\n        unidade: \"%\"\n    },\n\n    co2: {\n        expressao: \"(co2 / 4095.0) * 100\",\n        titulo: \"Nível de fumaça\",\n        unidade: \"%\"\n    }\n};\n\nconst configuracao = variaveis[variavelInformada];\n\nif (!configuracao) {\n    node.status({\n        fill: \"yellow\",\n        shape: \"ring\",\n        text: \"Selecione uma variável\"\n    });\n\n    return null;\n}\n\n// ------------------------------------------------------------\n// NORMALIZAÇÃO DO HORÁRIO LOCAL\n//\n// Entrada do Dashboard:\n// 2026-06-29T00:27\n//\n// Formato utilizado pelo MySQL:\n// 2026-06-29 00:27:00\n// ------------------------------------------------------------\n\nfunction normalizarDataHoraLocal(valor) {\n    if (typeof valor !== \"string\") {\n        return null;\n    }\n\n    const padrao =\n        /^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}(?::\\d{2})?$/;\n\n    if (!padrao.test(valor)) {\n        return null;\n    }\n\n    const valorCompleto =\n        valor.length === 16\n            ? valor + \":00\"\n            : valor;\n\n    return valorCompleto.replace(\"T\", \" \");\n}\n\nfunction converterParaData(valor) {\n    const valorCompleto =\n        valor.length === 16\n            ? valor + \":00\"\n            : valor;\n\n    const data = new Date(valorCompleto + \"-03:00\");\n\n    if (Number.isNaN(data.getTime())) {\n        return null;\n    }\n\n    return data;\n}\n\nconst inicioSQL =\n    normalizarDataHoraLocal(inicioInformado);\n\nconst fimSQL =\n    normalizarDataHoraLocal(fimInformado);\n\nconst inicioData =\n    converterParaData(inicioInformado);\n\nconst fimData =\n    converterParaData(fimInformado);\n\nif (\n    !inicioSQL ||\n    !fimSQL ||\n    !inicioData ||\n    !fimData\n) {\n    node.status({\n        fill: \"red\",\n        shape: \"ring\",\n        text: \"Data inválida\"\n    });\n\n    return null;\n}\n\nif (fimData <= inicioData) {\n    node.status({\n        fill: \"yellow\",\n        shape: \"ring\",\n        text: \"Período inválido\"\n    });\n\n    return null;\n}\n\n// ------------------------------------------------------------\n// CÁLCULO DO AGRUPAMENTO\n//\n// Mantém aproximadamente até 1200 pontos no gráfico.\n// ------------------------------------------------------------\n\nconst duracaoSegundos = Math.floor(\n    (fimData.getTime() - inicioData.getTime()) / 1000\n);\n\nconst maximoPontos = 1200;\n\nconst agrupamentoSegundos = Math.max(\n    1,\n    Math.ceil(duracaoSegundos / maximoPontos)\n);\n\n// ------------------------------------------------------------\n// CONSULTA HISTÓRICA\n// ------------------------------------------------------------\n\nmsg.topic = `\n    SELECT\n        MIN(grupo) * ${agrupamentoSegundos} * 1000 AS instante,\n        AVG(valor) AS valor\n\n    FROM (\n        SELECT\n            FLOOR(\n                UNIX_TIMESTAMP(data_hora) /\n                ${agrupamentoSegundos}\n            ) AS grupo,\n\n            ${configuracao.expressao} AS valor\n\n        FROM leituras\n\n        WHERE data_hora >= '${inicioSQL}'\n          AND data_hora <= '${fimSQL}'\n    ) AS dados_agrupados\n\n    GROUP BY grupo\n\n    ORDER BY grupo ASC;\n`;\n\nmsg.payload = [];\n\nmsg.grafico = {\n    titulo: configuracao.titulo,\n    unidade: configuracao.unidade,\n    inicioLocal: inicioInformado,\n    fimLocal: fimInformado,\n    agrupamentoSegundos: agrupamentoSegundos\n};\n\nmsg.tipoFluxo = \"historico\";\n\nnode.status({\n    fill: \"blue\",\n    shape: \"dot\",\n    text:\n        configuracao.titulo +\n        \" | agrupamento: \" +\n        agrupamentoSegundos +\n        \" s\"\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 680,
        "wires": [
            [
                "894ad6a948527754",
                "0fadb4b9400bc944"
            ]
        ]
    },
    {
        "id": "46de8b568ff774e1",
        "type": "function",
        "z": "76b56d7997f2bd69",
        "name": "Formatar Gráfico Histórico",
        "func": "// ============================================================\n// FORMATAÇÃO DO GRÁFICO HISTÓRICO\n// ============================================================\n\n// Ignora mensagens que não pertencem ao fluxo histórico\nif (msg.tipoFluxo !== \"historico\") {\n    return null;\n}\n\nconst linhas = Array.isArray(msg.payload)\n    ? msg.payload\n    : [];\n\nconst titulo =\n    msg.grafico?.titulo || \"Histórico\";\n\nconst unidade =\n    msg.grafico?.unidade || \"\";\n\n// Quantidade de casas decimais exibidas\nconst casas = Number.isInteger(msg.grafico?.casas)\n    ? msg.grafico.casas\n    : 1;\n\n// ------------------------------------------------------------\n// CONSULTA SEM REGISTROS\n// ------------------------------------------------------------\n\nif (linhas.length === 0) {\n    node.status({\n        fill: \"yellow\",\n        shape: \"ring\",\n        text: \"Consulta sem registros\"\n    });\n\n    msg.payload = [];\n    msg.action = \"replace\";\n\n    return msg;\n}\n\n// ------------------------------------------------------------\n// CONVERSÃO DOS REGISTROS EM PONTOS DO GRÁFICO\n// ------------------------------------------------------------\n\nconst pontos = linhas\n    .map(linha => ({\n        x: Number(linha.instante),\n        y: Number(linha.valor)\n    }))\n    .filter(ponto =>\n        Number.isFinite(ponto.x) &&\n        Number.isFinite(ponto.y)\n    )\n    .map(ponto => ({\n        x: ponto.x,\n        y: Number(ponto.y.toFixed(casas))\n    }))\n    .sort((a, b) => a.x - b.x);\n\n// ------------------------------------------------------------\n// CONSULTA SEM PONTOS VÁLIDOS\n// ------------------------------------------------------------\n\nif (pontos.length === 0) {\n    node.status({\n        fill: \"yellow\",\n        shape: \"ring\",\n        text: \"Sem pontos válidos\"\n    });\n\n    msg.payload = [];\n    msg.action = \"replace\";\n\n    return msg;\n}\n\n// ------------------------------------------------------------\n// NOME DA SÉRIE\n// ------------------------------------------------------------\n\nconst nomeSerie = unidade\n    ? `${titulo} (${unidade})`\n    : titulo;\n\n// ------------------------------------------------------------\n// FORMATO ESPERADO PELO UI-CHART\n// ------------------------------------------------------------\n\nmsg.payload = [{\n    series: [\n        nomeSerie\n    ],\n\n    data: [\n        pontos\n    ],\n\n    labels: [\n        \"\"\n    ]\n}];\n\nmsg.action = \"replace\";\n\nnode.status({\n    fill: \"green\",\n    shape: \"dot\",\n    text: `${pontos.length} pontos`\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 760,
        "wires": [
            [
                "603f2bef77cdcacc",
                "b2583a607fcd7204"
            ]
        ]
    },
    {
        "id": "603f2bef77cdcacc",
        "type": "ui_chart",
        "z": "76b56d7997f2bd69",
        "name": "Histórico",
        "group": "e39149331dd13aeb",
        "order": 0,
        "width": "24",
        "height": "6",
        "label": "Histórico",
        "chartType": "line",
        "legend": "true",
        "xformat": "DD/MM HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#00ff1e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1260,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "f6ecd03c7fc30f66",
        "type": "debug",
        "z": "76b56d7997f2bd69",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 760,
        "wires": []
    },
    {
        "id": "0fadb4b9400bc944",
        "type": "debug",
        "z": "76b56d7997f2bd69",
        "name": "debug SQL",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 680,
        "wires": []
    },
    {
        "id": "b2583a607fcd7204",
        "type": "debug",
        "z": "76b56d7997f2bd69",
        "name": "debug grafico",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 700,
        "wires": []
    },
    {
        "id": "894ad6a948527754",
        "type": "mysql",
        "z": "76b56d7997f2bd69",
        "mydb": "2b2c728ba2bbe499",
        "name": "Banco de Dados - Histórico",
        "x": 640,
        "y": 820,
        "wires": [
            [
                "46de8b568ff774e1",
                "95bec946792680a4"
            ]
        ]
    },
    {
        "id": "95bec946792680a4",
        "type": "debug",
        "z": "76b56d7997f2bd69",
        "name": "debug Resultado MySQL",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 860,
        "wires": []
    },
    {
        "id": "cc18cbd9328a27e8",
        "type": "function",
        "z": "76b56d7997f2bd69",
        "name": "Consultar Indicadores",
        "func": "// ============================================================\n// CONSULTA DOS INDICADORES DO PERÍODO\n//\n// O Dashboard e o MySQL utilizam o horário local.\n// Não é realizada conversão para UTC.\n// ============================================================\n\nconst dados = msg.payload;\n\n// ------------------------------------------------------------\n// VALIDAÇÃO DA MENSAGEM\n// ------------------------------------------------------------\n\nif (\n    !dados ||\n    typeof dados !== \"object\" ||\n    Array.isArray(dados)\n) {\n    node.status({\n        fill: \"red\",\n        shape: \"ring\",\n        text: \"Filtro inválido\"\n    });\n\n    return null;\n}\n\nconst inicioInformado = dados.inicio;\nconst fimInformado = dados.fim;\nconst variavelInformada = dados.variavel;\n\nif (!inicioInformado || !fimInformado) {\n    node.status({\n        fill: \"yellow\",\n        shape: \"ring\",\n        text: \"Informe o período\"\n    });\n\n    return null;\n}\n\n// ------------------------------------------------------------\n// LISTA BRANCA DE VARIÁVEIS\n// ------------------------------------------------------------\n\nconst variaveis = {\n    temperatura: {\n        expressao: \"temperatura\",\n        titulo: \"Temperatura\",\n        unidade: \"°C\",\n        casas: 1\n    },\n\n    umidade: {\n        expressao: \"umidade\",\n        titulo: \"Umidade\",\n        unidade: \"%\",\n        casas: 1\n    },\n\n    co2: {\n        expressao: \"(co2 / 4095.0) * 100\",\n        titulo: \"Nível de fumaça\",\n        unidade: \"%\",\n        casas: 1\n    }\n};\n\nconst configuracao = variaveis[variavelInformada];\n\nif (!configuracao) {\n    node.status({\n        fill: \"yellow\",\n        shape: \"ring\",\n        text: \"Selecione uma variável\"\n    });\n\n    return null;\n}\n\n// ------------------------------------------------------------\n// NORMALIZAÇÃO DO HORÁRIO LOCAL\n//\n// Entrada:\n// 2026-06-29T00:27\n//\n// Saída para o MySQL:\n// 2026-06-29 00:27:00\n// ------------------------------------------------------------\n\nfunction normalizarDataHoraLocal(valor) {\n    if (typeof valor !== \"string\") {\n        return null;\n    }\n\n    const padrao =\n        /^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}(?::\\d{2})?$/;\n\n    if (!padrao.test(valor)) {\n        return null;\n    }\n\n    const valorCompleto =\n        valor.length === 16\n            ? valor + \":00\"\n            : valor;\n\n    return valorCompleto.replace(\"T\", \" \");\n}\n\n// Utilizada somente para validar e comparar o período.\n// Não é utilizada para montar o horário da consulta SQL.\nfunction converterParaData(valor) {\n    const valorCompleto =\n        valor.length === 16\n            ? valor + \":00\"\n            : valor;\n\n    const data = new Date(valorCompleto + \"-03:00\");\n\n    if (Number.isNaN(data.getTime())) {\n        return null;\n    }\n\n    return data;\n}\n\nconst inicioSQL =\n    normalizarDataHoraLocal(inicioInformado);\n\nconst fimSQL =\n    normalizarDataHoraLocal(fimInformado);\n\nconst inicioData =\n    converterParaData(inicioInformado);\n\nconst fimData =\n    converterParaData(fimInformado);\n\nif (\n    !inicioSQL ||\n    !fimSQL ||\n    !inicioData ||\n    !fimData\n) {\n    node.status({\n        fill: \"red\",\n        shape: \"ring\",\n        text: \"Data inválida\"\n    });\n\n    return null;\n}\n\nif (fimData <= inicioData) {\n    node.status({\n        fill: \"yellow\",\n        shape: \"ring\",\n        text: \"Período inválido\"\n    });\n\n    return null;\n}\n\n// ------------------------------------------------------------\n// CONSULTA DOS INDICADORES\n//\n// Funciona com qualquer quantidade de registros.\n//\n// Com apenas um registro:\n// mínimo = máximo = média.\n// ------------------------------------------------------------\n\nmsg.topic = `\n    SELECT\n        MIN(${configuracao.expressao}) AS minimo,\n        MAX(${configuracao.expressao}) AS maximo,\n        AVG(${configuracao.expressao}) AS media,\n        COUNT(${configuracao.expressao}) AS quantidade\n\n    FROM leituras\n\n    WHERE data_hora >= '${inicioSQL}'\n      AND data_hora <= '${fimSQL}';\n`;\n\nmsg.payload = [];\n\nmsg.indicadores = {\n    titulo: configuracao.titulo,\n    unidade: configuracao.unidade,\n    casas: configuracao.casas,\n    inicio: inicioInformado,\n    fim: fimInformado\n};\n\nmsg.tipoFluxo = \"indicadores\";\n\nnode.status({\n    fill: \"blue\",\n    shape: \"dot\",\n    text: `Indicadores: ${configuracao.titulo}`\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 920,
        "wires": [
            [
                "5edcd4bce9e3a401"
            ]
        ]
    },
    {
        "id": "5edcd4bce9e3a401",
        "type": "mysql",
        "z": "76b56d7997f2bd69",
        "mydb": "2b2c728ba2bbe499",
        "name": "Banco de Dados - Indicadores",
        "x": 650,
        "y": 920,
        "wires": [
            [
                "af38214e829ad0a8"
            ]
        ]
    },
    {
        "id": "af38214e829ad0a8",
        "type": "function",
        "z": "76b56d7997f2bd69",
        "name": "Formatar Indicadores",
        "func": "// ============================================================\n// FORMATA OS INDICADORES RETORNADOS PELO MYSQL\n// ============================================================\n\nif (msg.tipoFluxo !== \"indicadores\") {\n    return null;\n}\n\nconst linhas = Array.isArray(msg.payload)\n    ? msg.payload\n    : [];\n\nif (linhas.length === 0) {\n    node.status({\n        fill: \"yellow\",\n        shape: \"ring\",\n        text: \"Sem resultado\"\n    });\n\n    return null;\n}\n\nconst resultado = linhas[0];\n\nconst quantidade = Number(resultado.quantidade);\n\nif (\n    !Number.isFinite(quantidade) ||\n    quantidade === 0\n) {\n    node.status({\n        fill: \"yellow\",\n        shape: \"ring\",\n        text: \"Sem registros no período\"\n    });\n\n    msg.payload = {\n        valido: false,\n        mensagem: \"Nenhum registro encontrado no período selecionado.\"\n    };\n\n    return msg;\n}\n\nconst casas = Number.isInteger(msg.indicadores?.casas)\n    ? msg.indicadores.casas\n    : 1;\n\nfunction formatarValor(valor) {\n    const numero = Number(valor);\n\n    if (!Number.isFinite(numero)) {\n        return \"--\";\n    }\n\n    return numero.toFixed(casas);\n}\n\nmsg.payload = {\n    valido: true,\n\n    titulo:\n        msg.indicadores?.titulo ||\n        \"Variável\",\n\n    unidade:\n        msg.indicadores?.unidade ||\n        \"\",\n\n    minimo:\n        formatarValor(resultado.minimo),\n\n    maximo:\n        formatarValor(resultado.maximo),\n\n    media:\n        formatarValor(resultado.media),\n\n    inicio:\n        msg.indicadores?.inicio ||\n        \"\",\n\n    fim:\n        msg.indicadores?.fim ||\n        \"\"\n};\n\nnode.status({\n    fill: \"green\",\n    shape: \"dot\",\n    text: `${quantidade} registros`\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 920,
        "wires": [
            [
                "d4b35e1e33da2f60"
            ]
        ]
    },
    {
        "id": "d4b35e1e33da2f60",
        "type": "ui_template",
        "z": "76b56d7997f2bd69",
        "group": "3cc183dbdf539fba",
        "name": "Indicadores Históricos",
        "order": 0,
        "width": "24",
        "height": "3",
        "format": "<div ng-if=\"msg.payload.valido\">\n\n    <div style=\"\n        font-size:18px;\n        font-weight:600;\n        margin-bottom:14px;\n    \">\n        Resumo de {{msg.payload.titulo}}\n    </div>\n\n    <div style=\"\n        display:grid;\n        grid-template-columns:repeat(auto-fit, minmax(150px, 1fr));\n        gap:12px;\n    \">\n\n        <div style=\"\n            padding:16px;\n            border-radius:8px;\n            background:rgba(255,255,255,0.08);\n            text-align:center;\n        \">\n            <div style=\"font-size:13px; opacity:0.75;\">\n                Mínimo\n            </div>\n\n            <div style=\"font-size:24px; font-weight:600;\">\n                {{msg.payload.minimo}}\n                {{msg.payload.unidade}}\n            </div>\n        </div>\n\n        <div style=\"\n            padding:16px;\n            border-radius:8px;\n            background:rgba(255,255,255,0.08);\n            text-align:center;\n        \">\n            <div style=\"font-size:13px; opacity:0.75;\">\n                Máximo\n            </div>\n\n            <div style=\"font-size:24px; font-weight:600;\">\n                {{msg.payload.maximo}}\n                {{msg.payload.unidade}}\n            </div>\n        </div>\n\n        <div style=\"\n            padding:16px;\n            border-radius:8px;\n            background:rgba(255,255,255,0.08);\n            text-align:center;\n        \">\n            <div style=\"font-size:13px; opacity:0.75;\">\n                Média\n            </div>\n\n            <div style=\"font-size:24px; font-weight:600;\">\n                {{msg.payload.media}}\n                {{msg.payload.unidade}}\n            </div>\n        </div>\n\n    </div>\n\n</div>\n\n<div ng-if=\"msg.payload && msg.payload.valido === false\" style=\"\n        padding:16px;\n        text-align:center;\n        opacity:0.8;\n     \">\n\n    {{msg.payload.mensagem}}\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1160,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "00bd9cfc26ad0345",
        "type": "function",
        "z": "76b56d7997f2bd69",
        "name": "Analisar Estado do Sistema",
        "func": "// ============================================================\n// ANÁLISE DO ESTADO DO SISTEMA\n// ============================================================\n\nlet dados = msg.payload;\n\n// Aceita payload JSON em texto ou objeto\nif (typeof dados === \"string\") {\n    try {\n        dados = JSON.parse(dados);\n    } catch (erro) {\n        node.status({\n            fill: \"red\",\n            shape: \"ring\",\n            text: \"JSON inválido\"\n        });\n\n        return null;\n    }\n}\n\nif (\n    !dados ||\n    typeof dados !== \"object\" ||\n    Array.isArray(dados)\n) {\n    node.status({\n        fill: \"red\",\n        shape: \"ring\",\n        text: \"Payload inválido\"\n    });\n\n    return null;\n}\n\n// ============================================================\n// LEITURAS RECEBIDAS\n// ============================================================\n\nconst temperatura = Number(dados.temperatura);\nconst umidade = Number(dados.umidade);\nconst mq2Adc = Number(dados.co2);\n\nif (\n    !Number.isFinite(temperatura) ||\n    !Number.isFinite(umidade) ||\n    !Number.isFinite(mq2Adc)\n) {\n    node.status({\n        fill: \"red\",\n        shape: \"ring\",\n        text: \"Leituras inválidas\"\n    });\n\n    return null;\n}\n\n// Converte o valor bruto do MQ-2 em percentual relativo\nconst fumacaPercentual = Math.max(\n    0,\n    Math.min(\n        100,\n        (mq2Adc / 4095) * 100\n    )\n);\n\n// ============================================================\n// LIMITES\n// ============================================================\n\nconst limites = {\n    temperaturaElevada: 40,\n    umidadeBaixa: 35,\n    fumacaDetectada: 20\n};\n\n// ============================================================\n// CONDIÇÕES INDIVIDUAIS\n// ============================================================\n\nconst temperaturaElevada =\n    temperatura >= limites.temperaturaElevada;\n\nconst umidadeBaixa =\n    umidade <= limites.umidadeBaixa;\n\nconst fumacaDetectada =\n    fumacaPercentual >= limites.fumacaDetectada;\n\n// ============================================================\n// REGRAS DE ESTADO\n// ============================================================\n\n// Possível incêndio:\n// fumaça combinada com temperatura elevada\n// ou fumaça combinada com umidade baixa\nconst alertaComSprinklers =\n    fumacaDetectada &&\n    (\n        temperaturaElevada ||\n        umidadeBaixa\n    );\n\n// Estado de atenção:\n// qualquer uma das condições isoladamente\nconst estadoAtencao =\n    temperaturaElevada ||\n    umidadeBaixa ||\n    fumacaDetectada;\n\n// ============================================================\n// DESCRIÇÃO DAS CONDIÇÕES DETECTADAS\n// ============================================================\n\nconst condicoesDetectadas = [];\n\nif (temperaturaElevada) {\n    condicoesDetectadas.push(\n        \"temperatura elevada\"\n    );\n}\n\nif (umidadeBaixa) {\n    condicoesDetectadas.push(\n        \"umidade baixa\"\n    );\n}\n\nif (fumacaDetectada) {\n    condicoesDetectadas.push(\n        \"presença de fumaça\"\n    );\n}\n\n// ============================================================\n// DEFINIÇÃO DO ESTADO\n// ============================================================\n\nlet estado;\nlet estadoComando;\nlet mensagem;\nlet corFundo;\nlet corTexto;\nlet icone;\n\n// ------------------------------------------------------------\n// ALERTA COM SPRINKLERS\n// Maior prioridade\n// ------------------------------------------------------------\n\nif (alertaComSprinklers) {\n    estado =\n        \"ALERTA DE RISCO - SPRINKLERS ATIVADOS\";\n\n    estadoComando =\n        \"ALERTA_SPRINKLERS\";\n\n    if (\n        temperaturaElevada &&\n        umidadeBaixa\n    ) {\n        mensagem =\n            \"Fumaça detectada em conjunto com temperatura elevada e umidade baixa. Possível incêndio.\";\n    }\n    else if (temperaturaElevada) {\n        mensagem =\n            \"Fumaça detectada em conjunto com temperatura elevada. Possível incêndio.\";\n    }\n    else {\n        mensagem =\n            \"Fumaça detectada em conjunto com umidade baixa. Possível incêndio.\";\n    }\n\n    corFundo = \"#b71c1c\";\n    corTexto = \"#ffffff\";\n    icone = \"warning\";\n\n    node.status({\n        fill: \"red\",\n        shape: \"dot\",\n        text: \"Alerta com sprinklers\"\n    });\n}\n\n// ------------------------------------------------------------\n// ATENÇÃO\n// ------------------------------------------------------------\n\nelse if (estadoAtencao) {\n    estado = \"ATENÇÃO\";\n    estadoComando = \"ATENCAO\";\n\n    mensagem =\n        \"Condição de atenção detectada: \" +\n        condicoesDetectadas.join(\", \") +\n        \".\";\n\n    corFundo = \"#f9a825\";\n    corTexto = \"#212121\";\n    icone = \"error_outline\";\n\n    node.status({\n        fill: \"yellow\",\n        shape: \"dot\",\n        text: \"Atenção\"\n    });\n}\n\n// ------------------------------------------------------------\n// NORMAL\n// ------------------------------------------------------------\n\nelse {\n    estado = \"NORMAL\";\n    estadoComando = \"NORMAL\";\n\n    mensagem =\n        \"As variáveis estão dentro dos limites configurados.\";\n\n    corFundo = \"#2e7d32\";\n    corTexto = \"#ffffff\";\n    icone = \"check_circle\";\n\n    node.status({\n        fill: \"green\",\n        shape: \"dot\",\n        text: \"Sistema normal\"\n    });\n}\n\n// ============================================================\n// SAÍDA\n// ============================================================\n\nmsg.payload = {\n    estado: estado,\n    estadoComando: estadoComando,\n    mensagem: mensagem,\n\n    temperatura: temperatura.toFixed(1),\n    umidade: umidade.toFixed(1),\n    fumaca: fumacaPercentual.toFixed(1),\n    mq2Adc: Math.round(mq2Adc),\n\n    condicoes: {\n        temperaturaElevada:\n            temperaturaElevada,\n\n        umidadeBaixa:\n            umidadeBaixa,\n\n        fumacaDetectada:\n            fumacaDetectada,\n\n        alertaComSprinklers:\n            alertaComSprinklers\n    },\n\n    limites: {\n        temperaturaElevada:\n            limites.temperaturaElevada,\n\n        umidadeBaixa:\n            limites.umidadeBaixa,\n\n        fumacaDetectada:\n            limites.fumacaDetectada\n    },\n\n    corFundo: corFundo,\n    corTexto: corTexto,\n    icone: icone,\n\n    atualizadoEm: new Date().toLocaleString(\n        \"pt-BR\",\n        {\n            timeZone: \"America/Sao_Paulo\"\n        }\n    )\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1100,
        "wires": [
            [
                "05ff312ea6b90cae",
                "b5d3cfed3c9e491d"
            ]
        ]
    },
    {
        "id": "05ff312ea6b90cae",
        "type": "ui_template",
        "z": "76b56d7997f2bd69",
        "group": "77307df958801835",
        "name": "Estado do Sistema",
        "order": 0,
        "width": "30",
        "height": "3",
        "format": "<div ng-if=\"msg && msg.payload\" ng-style=\"{\n        'background-color': msg.payload.corFundo,\n        'color': msg.payload.corTexto\n    }\" style=\"\n        padding:20px;\n        border-radius:10px;\n        transition:background-color 0.3s;\n    \">\n\n    <div style=\"\n        display:flex;\n        align-items:center;\n        justify-content:space-between;\n        flex-wrap:wrap;\n        gap:12px;\n    \">\n\n        <div style=\"\n            display:flex;\n            align-items:center;\n            gap:12px;\n        \">\n\n            <i\n                class=\"material-icons\"\n                style=\"font-size:38px;\"\n            >\n                {{msg.payload.icone}}\n            </i>\n\n            <div>\n                <div style=\"\n                    font-size:13px;\n                    opacity:0.85;\n                \">\n                    Estado do sistema\n                </div>\n\n                <div style=\"\n                    font-size:25px;\n                    font-weight:700;\n                \">\n                    {{msg.payload.estado}}\n                </div>\n            </div>\n\n        </div>\n\n        <div style=\"\n            display:flex;\n            flex-wrap:wrap;\n            gap:18px;\n        \">\n\n            <div style=\"text-align:center;\">\n                <div style=\"font-size:12px; opacity:0.8;\">\n                    Temperatura\n                </div>\n\n                <div style=\"font-size:20px; font-weight:600;\">\n                    {{msg.payload.temperatura}} °C\n                </div>\n            </div>\n\n            <div style=\"text-align:center;\">\n                <div style=\"font-size:12px; opacity:0.8;\">\n                    Umidade\n                </div>\n\n                <div style=\"font-size:20px; font-weight:600;\">\n                    {{msg.payload.umidade}} %\n                </div>\n            </div>\n\n            <div style=\"text-align:center;\">\n                <div style=\"font-size:12px; opacity:0.8;\">\n                    Nível de fumaça\n                </div>\n\n                <div style=\"font-size:20px; font-weight:600;\">\n                    {{msg.payload.fumaca}} %\n                </div>\n            </div>\n\n        </div>\n\n    </div>\n\n    <div style=\"\n        margin-top:14px;\n        padding-top:12px;\n        border-top:1px solid rgba(255,255,255,0.25);\n    \">\n        {{msg.payload.mensagem}}\n    </div>\n\n    <div style=\"\n        margin-top:6px;\n        font-size:11px;\n        opacity:0.75;\n    \">\n        Atualização: {{msg.payload.atualizadoEm}}\n    </div>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 850,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "c12d21386fabb54c",
        "type": "ui_button",
        "z": "76b56d7997f2bd69",
        "name": "Comando Normal",
        "group": "6688021161969392",
        "order": 2,
        "width": "7",
        "height": "2",
        "passthru": false,
        "label": "Estado normal",
        "tooltip": "",
        "color": "#1B5E20",
        "bgcolor": "#A5D6A7",
        "className": "",
        "icon": "check_circle",
        "payload": "NORMAL",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 970,
        "y": 340,
        "wires": [
            [
                "a75886584ee1ca5d",
                "8fb96d6b2a8b17b2"
            ]
        ]
    },
    {
        "id": "a75886584ee1ca5d",
        "type": "debug",
        "z": "76b56d7997f2bd69",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 360,
        "wires": []
    },
    {
        "id": "4636166f16617831",
        "type": "ui_button",
        "z": "76b56d7997f2bd69",
        "name": "Comando Atenção",
        "group": "6688021161969392",
        "order": 3,
        "width": "7",
        "height": "2",
        "passthru": false,
        "label": "Estado de atenção",
        "tooltip": "",
        "color": "#5D4037",
        "bgcolor": "#FFD54F",
        "className": "",
        "icon": "warning",
        "payload": "ATENCAO",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 970,
        "y": 420,
        "wires": [
            [
                "a75886584ee1ca5d",
                "8fb96d6b2a8b17b2"
            ]
        ]
    },
    {
        "id": "6b6e99b57aa03736",
        "type": "ui_button",
        "z": "76b56d7997f2bd69",
        "name": "Comando Sprinklers",
        "group": "6688021161969392",
        "order": 4,
        "width": "7",
        "height": "2",
        "passthru": false,
        "label": "Sprinklers ativos",
        "tooltip": "",
        "color": "#0D47A1",
        "bgcolor": "#BBDEFB",
        "className": "",
        "icon": "fa-tint",
        "payload": "SPRINKLERS",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 960,
        "y": 500,
        "wires": [
            [
                "a75886584ee1ca5d",
                "8fb96d6b2a8b17b2"
            ]
        ]
    },
    {
        "id": "acefecbba9fb6944",
        "type": "ui_button",
        "z": "76b56d7997f2bd69",
        "name": "Comando Alerta Sprinklers",
        "group": "6688021161969392",
        "order": 5,
        "width": "7",
        "height": "2",
        "passthru": false,
        "label": "Alerta com sprinklers",
        "tooltip": "",
        "color": "#FFFFFF",
        "bgcolor": "#D32F2F",
        "className": "",
        "icon": "whatshot",
        "payload": "ALERTA_SPRINKLERS",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 580,
        "wires": [
            [
                "a75886584ee1ca5d",
                "8fb96d6b2a8b17b2"
            ]
        ]
    },
    {
        "id": "c6bf3350fd23e3c9",
        "type": "json",
        "z": "76b56d7997f2bd69",
        "name": "Converter status JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 490,
        "y": 1260,
        "wires": [
            [
                "e242be26a0d77e69"
            ]
        ]
    },
    {
        "id": "e242be26a0d77e69",
        "type": "function",
        "z": "76b56d7997f2bd69",
        "name": "Formatar status dos LEDs",
        "func": "// ============================================================\n// FORMATA A CONFIRMAÇÃO RECEBIDA DO ESP32\n// ============================================================\n\nconst dados = msg.payload;\n\nif (\n    !dados ||\n    typeof dados !== \"object\" ||\n    Array.isArray(dados)\n) {\n    node.status({\n        fill: \"red\",\n        shape: \"ring\",\n        text: \"Status inválido\"\n    });\n\n    return null;\n}\n\nconst estado = String(dados.estado || \"\").toUpperCase();\nconst origem = String(dados.origem || \"desconhecida\");\nconst confirmado = dados.confirmado === true;\n\nconst configuracoes = {\n    NORMAL: {\n        texto: \"Estado normal\",\n        descricao: \"Os dois LEDs estão verdes.\",\n        icone: \"check_circle\",\n        corFundo: \"#A5D6A7\",\n        corTexto: \"#1B5E20\"\n    },\n\n    ATENCAO: {\n        texto: \"Estado de atenção\",\n        descricao: \"Os LEDs alternam entre vermelho e verde.\",\n        icone: \"warning\",\n        corFundo: \"#FFD54F\",\n        corTexto: \"#5D4037\"\n    },\n\n    SPRINKLERS: {\n        texto: \"Sprinklers ativos\",\n        descricao: \"Os dois LEDs estão piscando em azul.\",\n        icone: \"grain\",\n        corFundo: \"#81D4FA\",\n        corTexto: \"#0D47A1\"\n    },\n\n    ALERTA_SPRINKLERS: {\n        texto: \"Alerta com sprinklers\",\n        descricao: \"Os LEDs alternam entre vermelho e azul.\",\n        icone: \"fa-fire\",\n        corFundo: \"#D32F2F\",\n        corTexto: \"#FFFFFF\"\n    }\n};\n\nconst configuracao = configuracoes[estado];\n\nif (!configuracao) {\n    node.status({\n        fill: \"yellow\",\n        shape: \"ring\",\n        text: \"Estado desconhecido\"\n    });\n\n    return null;\n}\n\nmsg.payload = {\n    estado: estado,\n    texto: configuracao.texto,\n    descricao: configuracao.descricao,\n    icone: configuracao.icone,\n    corFundo: configuracao.corFundo,\n    corTexto: configuracao.corTexto,\n    origem: origem,\n    confirmado: confirmado,\n    atualizadoEm: new Date().toLocaleString(\n        \"pt-BR\",\n        {\n            timeZone: \"America/Sao_Paulo\"\n        }\n    )\n};\n\nnode.status({\n    fill: confirmado ? \"green\" : \"yellow\",\n    shape: confirmado ? \"dot\" : \"ring\",\n    text: configuracao.texto\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1220,
        "wires": [
            [
                "32cbd48657f67f6e"
            ]
        ]
    },
    {
        "id": "32cbd48657f67f6e",
        "type": "ui_template",
        "z": "76b56d7997f2bd69",
        "group": "6688021161969392",
        "name": "Status confirmado dos LEDs",
        "order": 6,
        "width": "30",
        "height": "3",
        "format": "<div ng-if=\"msg && msg.payload\" ng-style=\"{\n        'background-color': msg.payload.corFundo,\n        'color': msg.payload.corTexto\n    }\" style=\"\n        padding:16px;\n        border-radius:8px;\n        transition:background-color 0.3s;\n    \">\n    <div style=\"\n        display:flex;\n        align-items:center;\n        justify-content:space-between;\n        flex-wrap:wrap;\n        gap:12px;\n    \">\n\n        <div style=\"\n            display:flex;\n            align-items:center;\n            gap:12px;\n        \">\n            <i\n                class=\"material-icons\"\n                style=\"font-size:32px;\"\n            >\n                {{msg.payload.icone}}\n            </i>\n\n            <div>\n                <div style=\"\n                    font-size:12px;\n                    opacity:0.8;\n                \">\n                    Estado confirmado pelo ESP32\n                </div>\n\n                <div style=\"\n                    font-size:21px;\n                    font-weight:700;\n                \">\n                    {{msg.payload.texto}}\n                </div>\n            </div>\n        </div>\n\n        <div style=\"\n            font-size:13px;\n            text-align:right;\n        \">\n            <div>\n                Origem: {{msg.payload.origem}}\n            </div>\n\n            <div>\n                Atualização: {{msg.payload.atualizadoEm}}\n            </div>\n        </div>\n    </div>\n\n    <div style=\"\n        margin-top:10px;\n        padding-top:10px;\n        border-top:1px solid rgba(0,0,0,0.15);\n    \">\n        {{msg.payload.descricao}}\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1100,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "7724cb990ddb4565",
        "type": "ui_switch",
        "z": "76b56d7997f2bd69",
        "name": " Selecionar modo de controle",
        "label": "Modo automático",
        "tooltip": "",
        "group": "6688021161969392",
        "order": 1,
        "width": "30",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "autorenew",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "autorenew",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1140,
        "y": 1360,
        "wires": [
            [
                "eb7936b8207caa42"
            ]
        ]
    },
    {
        "id": "63cb77ab20ca7ada",
        "type": "function",
        "z": "76b56d7997f2bd69",
        "name": "Armazenar modo de controle",
        "func": "// ============================================================\n// ALTERA O MODO DE CONTROLE\n// AO ENTRAR NO AUTOMÁTICO, FORÇA O ENVIO DO ÚLTIMO\n// ESTADO CALCULADO A PARTIR DOS SENSORES\n// ============================================================\n\nconst modo = String(msg.payload || \"\")\n    .trim()\n    .toUpperCase();\n\n// ============================================================\n// VALIDAÇÃO DO MODO\n// ============================================================\n\nif (\n    modo !== \"MANUAL\" &&\n    modo !== \"AUTOMATICO\"\n) {\n    node.status({\n        fill: \"red\",\n        shape: \"ring\",\n        text: \"Modo inválido\"\n    });\n\n    return null;\n}\n\n// Armazena o modo atual no contexto do fluxo\nflow.set(\"modoControle\", modo);\n\n// ============================================================\n// MODO MANUAL\n// ============================================================\n\n// Ao entrar no modo manual, nenhum comando automático\n// deve ser enviado aos LEDs.\nif (modo === \"MANUAL\") {\n    node.status({\n        fill: \"blue\",\n        shape: \"dot\",\n        text: \"Modo manual\"\n    });\n\n    return null;\n}\n\n// ============================================================\n// MODO AUTOMÁTICO\n// ============================================================\n\n// Recupera o último estado calculado com base nos sensores\nlet estadoSistema = String(\n    flow.get(\"estadoAutomatico\") || \"NORMAL\"\n)\n    .trim()\n    .toUpperCase();\n\n// Estados permitidos no modo automático\nconst estadosAutomaticosValidos = [\n    \"NORMAL\",\n    \"ATENCAO\",\n    \"ALERTA_SPRINKLERS\"\n];\n\n// Caso exista um valor antigo ou inválido no contexto,\n// utiliza o estado normal por segurança.\nif (\n    !estadosAutomaticosValidos.includes(\n        estadoSistema\n    )\n) {\n    estadoSistema = \"NORMAL\";\n\n    flow.set(\n        \"estadoAutomatico\",\n        estadoSistema\n    );\n}\n\n// ============================================================\n// STATUS DO NÓ\n// ============================================================\n\nconst configuracaoStatus = {\n    NORMAL: {\n        fill: \"green\",\n        texto: \"Automático: normal\"\n    },\n\n    ATENCAO: {\n        fill: \"yellow\",\n        texto: \"Automático: atenção\"\n    },\n\n    ALERTA_SPRINKLERS: {\n        fill: \"red\",\n        texto: \"Automático: alerta\"\n    }\n};\n\nconst statusAtual =\n    configuracaoStatus[estadoSistema];\n\nnode.status({\n    fill: statusAtual.fill,\n    shape: \"dot\",\n    text: statusAtual.texto\n});\n\n// ============================================================\n// ENVIO DO ESTADO ATUAL AO ESP32\n// ============================================================\n\n// Força o envio do estado calculado ao entrar\n// novamente no modo automático.\nreturn {\n    payload: estadoSistema,\n    topic: \"smokeguard/comandos/leds\"\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 1420,
        "wires": [
            [
                "ceb0508998d1e583",
                "4b2b7b6e681acfc8"
            ]
        ]
    },
    {
        "id": "ceb0508998d1e583",
        "type": "debug",
        "z": "76b56d7997f2bd69",
        "name": "Debug modo de controle",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2110,
        "y": 1420,
        "wires": []
    },
    {
        "id": "8fb96d6b2a8b17b2",
        "type": "function",
        "z": "76b56d7997f2bd69",
        "name": "Validar comando manual",
        "func": "// Obtém o modo armazenado no fluxo.\n// Caso ainda não exista, considera MANUAL.\nconst modo = String(\n    flow.get(\"modoControle\") || \"MANUAL\"\n).toUpperCase();\n\nconst comandosValidos = [\n    \"NORMAL\",\n    \"ATENCAO\",\n    \"SPRINKLERS\",\n    \"ALERTA_SPRINKLERS\"\n];\n\nconst comando = String(msg.payload || \"\").toUpperCase();\n\nif (!comandosValidos.includes(comando)) {\n    node.status({\n        fill: \"red\",\n        shape: \"ring\",\n        text: \"Comando inválido\"\n    });\n\n    return null;\n}\n\nif (modo !== \"MANUAL\") {\n    node.status({\n        fill: \"yellow\",\n        shape: \"ring\",\n        text: \"Bloqueado: modo automático\"\n    });\n\n    return null;\n}\n\nnode.status({\n    fill: \"blue\",\n    shape: \"dot\",\n    text: `Comando manual: ${comando}`\n});\n\nmsg.payload = comando;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 460,
        "wires": [
            [
                "23c1c148a47a9f81",
                "4b2b7b6e681acfc8"
            ]
        ]
    },
    {
        "id": "23c1c148a47a9f81",
        "type": "debug",
        "z": "76b56d7997f2bd69",
        "name": "debug comando",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1540,
        "y": 360,
        "wires": []
    },
    {
        "id": "b5d3cfed3c9e491d",
        "type": "function",
        "z": "76b56d7997f2bd69",
        "name": "Sincronizar estado automático",
        "func": "// ============================================================\n// ARMAZENA O ESTADO CALCULADO PELOS SENSORES\n// E ENVIA O COMANDO QUANDO O MODO AUTOMÁTICO ESTIVER ATIVO\n// ============================================================\n\nconst dados = msg.payload;\n\nlet estadoRecebido;\n\nif (\n    dados &&\n    typeof dados === \"object\" &&\n    !Array.isArray(dados)\n) {\n    estadoRecebido =\n        dados.estadoComando ||\n        dados.estado ||\n        dados.status ||\n        dados.texto ||\n        \"\";\n} else {\n    estadoRecebido = dados;\n}\n\nconst estadoTexto = String(estadoRecebido || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .trim()\n    .toUpperCase();\n\nlet comandoAutomatico = null;\n\n// A condição mais específica deve ser verificada primeiro\nif (\n    estadoTexto === \"ALERTA_SPRINKLERS\" ||\n    (\n        estadoTexto.includes(\"ALERTA\") &&\n        estadoTexto.includes(\"SPRINKLER\")\n    )\n) {\n    comandoAutomatico = \"ALERTA_SPRINKLERS\";\n}\n\nelse if (\n    estadoTexto === \"SPRINKLERS\" ||\n    estadoTexto.includes(\"SPRINKLER\") ||\n    estadoTexto.includes(\"INCENDIO\") ||\n    estadoTexto.includes(\"ALERTA\")\n) {\n    comandoAutomatico = \"SPRINKLERS\";\n}\n\nelse if (estadoTexto.includes(\"ATENCAO\")) {\n    comandoAutomatico = \"ATENCAO\";\n}\n\nelse if (estadoTexto.includes(\"NORMAL\")) {\n    comandoAutomatico = \"NORMAL\";\n}\n\nif (!comandoAutomatico) {\n    node.status({\n        fill: \"yellow\",\n        shape: \"ring\",\n        text: \"Estado não identificado\"\n    });\n\n    return null;\n}\n\n// Guarda o último estado calculado\nconst estadoAnterior =\n    flow.get(\"estadoAutomatico\");\n\nflow.set(\n    \"estadoAutomatico\",\n    comandoAutomatico\n);\n\nconst modoControle = String(\n    flow.get(\"modoControle\") || \"MANUAL\"\n).toUpperCase();\n\n// No modo manual, apenas armazena\nif (modoControle !== \"AUTOMATICO\") {\n    node.status({\n        fill: \"blue\",\n        shape: \"ring\",\n        text: `Armazenado: ${comandoAutomatico}`\n    });\n\n    return null;\n}\n\n// Evita publicações repetidas\nif (estadoAnterior === comandoAutomatico) {\n    node.status({\n        fill: \"green\",\n        shape: \"dot\",\n        text: `Automático: ${comandoAutomatico}`\n    });\n\n    return null;\n}\n\nnode.status({\n    fill: \"green\",\n    shape: \"dot\",\n    text: `Enviando: ${comandoAutomatico}`\n});\n\nreturn {\n    payload: comandoAutomatico,\n    topic: \"smokeguard/comandos/leds\"\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1120,
        "wires": [
            [
                "4b2b7b6e681acfc8"
            ]
        ]
    },
    {
        "id": "15a94bb1e44b4fbe",
        "type": "json",
        "z": "76b56d7997f2bd69",
        "name": "Converter status do modo",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 530,
        "y": 1400,
        "wires": [
            [
                "74a4357b24a47747"
            ]
        ]
    },
    {
        "id": "74a4357b24a47747",
        "type": "function",
        "z": "76b56d7997f2bd69",
        "name": "Sincronizar modo confirmado",
        "func": "// ============================================================\n// SINCRONIZA O MODO CONFIRMADO PELO ESP32\n//\n// Saída 1: valor booleano para atualizar o ui_switch\n// Saída 2: comando dos LEDs ao entrar no modo automático\n// ============================================================\n\nconst dados = msg.payload;\n\n// ============================================================\n// VALIDAÇÃO DA MENSAGEM\n// ============================================================\n\nif (\n    !dados ||\n    typeof dados !== \"object\" ||\n    Array.isArray(dados)\n) {\n    node.status({\n        fill: \"red\",\n        shape: \"ring\",\n        text: \"Status inválido\"\n    });\n\n    return [null, null];\n}\n\n// ============================================================\n// LEITURA E VALIDAÇÃO DO MODO\n// ============================================================\n\nconst modo = String(dados.modo || \"\")\n    .trim()\n    .toUpperCase();\n\nif (\n    modo !== \"MANUAL\" &&\n    modo !== \"AUTOMATICO\"\n) {\n    node.status({\n        fill: \"red\",\n        shape: \"ring\",\n        text: \"Modo desconhecido\"\n    });\n\n    return [null, null];\n}\n\n// Atualiza o modo utilizado pelos demais nós do fluxo\nflow.set(\"modoControle\", modo);\n\n// ============================================================\n// STATUS DO NÓ\n// ============================================================\n\nnode.status({\n    fill:\n        modo === \"AUTOMATICO\"\n            ? \"green\"\n            : \"blue\",\n\n    shape: \"dot\",\n\n    text:\n        modo === \"AUTOMATICO\"\n            ? \"Automático confirmado\"\n            : \"Manual confirmado\"\n});\n\n// ============================================================\n// SAÍDA 1: ATUALIZAÇÃO DO SWITCH\n// ============================================================\n\nconst mensagemDashboard = {\n    payload: modo === \"AUTOMATICO\"\n};\n\n// ============================================================\n// SAÍDA 2: ESTADO DOS LEDS\n// ============================================================\n\nlet mensagemLeds = null;\n\n// Ao entrar no modo automático, força o envio do último\n// estado calculado a partir das leituras dos sensores.\nif (modo === \"AUTOMATICO\") {\n    let estadoSistema = String(\n        flow.get(\"estadoAutomatico\") || \"NORMAL\"\n    )\n        .trim()\n        .toUpperCase();\n\n    // Estados permitidos no modo automático\n    const estadosAutomaticosValidos = [\n        \"NORMAL\",\n        \"ATENCAO\",\n        \"ALERTA_SPRINKLERS\"\n    ];\n\n    // Evita utilizar valores antigos, desconhecidos\n    // ou estados exclusivos do modo manual.\n    if (\n        !estadosAutomaticosValidos.includes(\n            estadoSistema\n        )\n    ) {\n        estadoSistema = \"NORMAL\";\n\n        flow.set(\n            \"estadoAutomatico\",\n            estadoSistema\n        );\n    }\n\n    mensagemLeds = {\n        payload: estadoSistema,\n        topic: \"smokeguard/comandos/leds\"\n    };\n}\n\n// ============================================================\n// RETORNO\n// ============================================================\n\nreturn [\n    mensagemDashboard,\n    mensagemLeds\n];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1460,
        "wires": [
            [
                "7724cb990ddb4565",
                "16b36c457c8def9f"
            ],
            [
                "4b2b7b6e681acfc8"
            ]
        ]
    },
    {
        "id": "eb7936b8207caa42",
        "type": "function",
        "z": "76b56d7997f2bd69",
        "name": "Converter seleção de modo",
        "func": "// Converte o valor booleano do Dashboard\n// para o texto utilizado pelo sistema.\n\nif (msg.payload === true) {\n    msg.payload = \"AUTOMATICO\";\n} else if (msg.payload === false) {\n    msg.payload = \"MANUAL\";\n} else {\n    node.status({\n        fill: \"red\",\n        shape: \"ring\",\n        text: \"Valor inválido\"\n    });\n\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 1480,
        "wires": [
            [
                "63cb77ab20ca7ada",
                "ea169422980bd42b"
            ]
        ]
    },
    {
        "id": "16b36c457c8def9f",
        "type": "debug",
        "z": "76b56d7997f2bd69",
        "name": "Debug entrada do switch",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 1540,
        "wires": []
    },
    {
        "id": "973d38da5145bc79",
        "type": "inject",
        "z": "76b56d7997f2bd69",
        "name": "Teste automático - ALERTA",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{   \"co2\": 1200,   \"temperatura\": 55,   \"umidade\": 60 }",
        "payloadType": "json",
        "x": 260,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "6fbd7d96a7fe1944",
        "type": "mqtt in",
        "z": "76b56d7997f2bd69",
        "name": "Receber sensores SmokeGuard",
        "topic": "smokeguard/sensores",
        "qos": "0",
        "datatype": "json",
        "broker": "585b3faf2e6db02b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 280,
        "wires": [
            [
                "942a78551326aa43",
                "d2809aff29531147",
                "00bd9cfc26ad0345"
            ]
        ]
    },
    {
        "id": "4b2b7b6e681acfc8",
        "type": "mqtt out",
        "z": "76b56d7997f2bd69",
        "name": "Enviar comando aos LEDs SmokeGuard",
        "topic": "smokeguard/comandos/leds",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "585b3faf2e6db02b",
        "x": 2220,
        "y": 700,
        "wires": []
    },
    {
        "id": "b1701ba388c6f974",
        "type": "mqtt in",
        "z": "76b56d7997f2bd69",
        "name": "Receber status dos LEDs SmokeGuard",
        "topic": "smokeguard/status/leds",
        "qos": "1",
        "datatype": "utf8",
        "broker": "585b3faf2e6db02b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1220,
        "wires": [
            [
                "c6bf3350fd23e3c9"
            ]
        ]
    },
    {
        "id": "ea169422980bd42b",
        "type": "mqtt out",
        "z": "76b56d7997f2bd69",
        "name": "Enviar modo ao ESP32 SmokeGuard",
        "topic": "smokeguard/comandos/modo",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "585b3faf2e6db02b",
        "x": 1890,
        "y": 1540,
        "wires": []
    },
    {
        "id": "067782cfbde14819",
        "type": "mqtt in",
        "z": "76b56d7997f2bd69",
        "name": "Receber status do modo SmokeGuard",
        "topic": "smokeguard/status/modo",
        "qos": "1",
        "datatype": "utf8",
        "broker": "585b3faf2e6db02b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 1360,
        "wires": [
            [
                "15a94bb1e44b4fbe"
            ]
        ]
    },
    {
        "id": "a780661b4c189c74",
        "type": "ui_group",
        "name": "Temperatura Agora",
        "tab": "811e4cd6be55b37d",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4562042ab14c8c55",
        "type": "ui_group",
        "name": "Umidade Agora",
        "tab": "811e4cd6be55b37d",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e56778fec3a6b936",
        "type": "ui_group",
        "name": "Fumaça Agora",
        "tab": "811e4cd6be55b37d",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a80fa7bca37daeb0",
        "type": "ui_group",
        "name": "Umidade",
        "tab": "f93d72c41cf857e4",
        "order": 3,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6b745fab18848bb3",
        "type": "ui_group",
        "name": "Fumaça",
        "tab": "f93d72c41cf857e4",
        "order": 4,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2b2c728ba2bbe499",
        "type": "MySQLdatabase",
        "name": "Banco de Dados",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "sistema_iot",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "66b60e9b5ab394e0",
        "type": "ui_group",
        "name": "Escolher grafico",
        "tab": "f93d72c41cf857e4",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c0748d6957d60185",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "f93d72c41cf857e4",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dd2b47cd8f58c265",
        "type": "ui_group",
        "name": "Filtro",
        "tab": "42370a6be0820cfb",
        "order": 1,
        "disp": true,
        "width": "27",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e39149331dd13aeb",
        "type": "ui_group",
        "name": "Resultado",
        "tab": "42370a6be0820cfb",
        "order": 2,
        "disp": true,
        "width": "27",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3cc183dbdf539fba",
        "type": "ui_group",
        "name": "Indicadores",
        "tab": "42370a6be0820cfb",
        "order": 2,
        "disp": true,
        "width": "27",
        "collapse": false,
        "className": ""
    },
    {
        "id": "77307df958801835",
        "type": "ui_group",
        "name": "Status do Sistema",
        "tab": "811e4cd6be55b37d",
        "order": 4,
        "disp": true,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6688021161969392",
        "type": "ui_group",
        "name": "Controle e Simulação",
        "tab": "811e4cd6be55b37d",
        "order": 5,
        "disp": true,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "585b3faf2e6db02b",
        "type": "mqtt-broker",
        "name": "Mosquitto Local",
        "broker": "127.0.0.1",
        "port": 1883,
        "clientid": "smokeguard-nodered",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "811e4cd6be55b37d",
        "type": "ui_tab",
        "name": "Tempo Real",
        "icon": "desktop_windows",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f93d72c41cf857e4",
        "type": "ui_tab",
        "name": "Graficos Atuais",
        "icon": "show_chart",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "42370a6be0820cfb",
        "type": "ui_tab",
        "name": "Histórico",
        "icon": "history",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0fcaf801f6bf4612",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-node-mysql": "3.0.0"
        }
    }
]